[ws]
receiver_url = "http://localhost/wifi-probe-aggregator/ws/receiver.php"
reader_url = "http://localhost/wifi-probe-aggregator/ws/reader.php"
oui_path = "/var/lib/ieee-data/oui.txt"

[database]
db_host = "localhost"
db_user = "root"
db_pass = "mysql"
db_name = "wpa"
