[ws]
receiver_url = "http://localhost/wifi-probe-aggregator/ws/receiver.php"
reader_url = "http://localhost/wifi-probe-aggregator/ws/reader.php"

[database]
db_host = "localhost"
db_user = "root"
db_pass = "mysql"
db_name = "wpa"
